@import url("https://fonts.googleapis.com/css2?family=Source+Code+Pro:wght@400;700&display=swap");

* {
  box-sizing: border-box;
}

body,
html,
#root {
  height: 100vh;
  margin: 0;
  width: 100vw;
}

body {
  color: #ffffff;
  font-family: "Source Code Pro", monospace;
}
