* {
  box-sizing: border-box;
  user-select: none;
}

body,
html,
#root {
  height: 100vh;
  margin: 0;
  width: 100vw;
}

body {
  color: #ffffff;
  font-family: "Arial", monospace;
  font-size: 0.95rem;
  min-width: 20rem;
}
